<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vue-resource.js"></script>
</head>
<body>
{#<script>#}
{#    Vue.use(VueResource);#}
{#    var  vue=new Vue(#}
{#        {#}
{#            e1:"#content",#}
{#            data:{#}
{#              food_list:[]#}
{#            },#}
{#            crented:function () {#}
{#                this.$http.get("/API/Food").then(#}
{#                   function (data) {#}
{#                       this.food_list=data["data"]#}
{##}
{#                   } ,#}
{#                    function (error) {#}
{#                       console.log(error);#}
{##}
{#                    }#}
{#                );#}
{##}
{#            },#}
{#            methods:{#}
{#                do_something:function () {#}
{#                    alert("hhhhh");#}
{##}
{#                }#}
{#            }#}
{#        }#}
{#    )#}
{#</script>#}


{% verbatim  %}
        <div id="content">
            <ul>
            <li v-for="food in food_list"> {{ food.name }}&nbsp{{ food.description }}</li>

            </ul>
         </div>

    {% endverbatim   %}



<script>
    Vue.use(VueResource); //声明使用VueResource,避免与ajax冲突
    var vue= new Vue(
        {
            el:"#content",
            data:{
                food_list:[]

            },
            created:function () {
                this.$http.get("/API/Food/").then(
                    function(data){
                        console.log(data["data"]);
                        this.food_list=data["data"];

                    },
                    function (error) {
                        console.log(error);


                    },
                )
            }
{##}
{#ajax 请求数据给vue ,vue在页面显示,this指代vue的数据 ,django封装好的直接实例#}


{##}
{#            created:function () {#}
{#                $.ajax(#}
{#                    {#}
{#                        url:"/API/Food/",#}
{#                        type:"get",#}
{#                        data:"",#}
{#                        success:function (data) {#}
{#                            console.log(data)#}
{##}
{#                        },#}
{#                        error:function(error){#}
{#                            console.log(error)#}
{##}
{#                },#}
{#                    }#}
{#                )#}
{#                #}
{#            }#}

        }
    )

</script>



</body>
</html>