










{% extends 'base.html' %}

{% block content %}

		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="news.html">新闻资讯</a></li>
		</ul>
		<div class="newslist-wrap">
			<p class="newslist-tit">新闻资讯</p>











            {% for new in page_data %}
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="/static/img/news-pic1.jpg"/>
				</dt>
				<dd class="newslist-txt">
					<a href="news-con.html" class="newslist-font24">{{ new}}</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<p class="newslist-time">{{ new.time }}</p>
						</li>
						<li class="newslist-li">
							<a href="news-con.html" class="newslist-con">提到牛排，脑子里就会想到焦棕褐色、表面扶着香甜的肉汁，切开后的粉红肉质，入口之后留下的满口肉香。吃牛排其实是非常讲究的，精致的牛肉配上美味的香料，加以烹调，是款待尊贵客人的最佳美食。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
{% endfor %}





			<ul class="shop-paging clearfix">
{#				<li><a href="javascript:;" class="pag-item">&lt;</a></li>#}

                {% for page in page_obj.page_range %}
				<li><a href="/news/{{ page }}/" class="pag-item ">{{ page }}</a></li>
{#				<li><a href="javascript:;" class="pag-item">2</a></li>#}
{#				<li><a href="javascript:;" class="pag-item">3</a></li>#}
{#				<li><a href="javascript:;" class="pag-item">4</a></li>#}
{#				<li><a href="javascript:;" class="pag-item">&gt;</a></li>#}
			{% endfor %}
            </ul>
{% endblock %}