<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>text</title>
{#    <script src="/static/js/vue.min.js"></script>#}
{#    <script src="/static/js/vue-resource.js"></script>#}
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>


<body>

{% verbatim myblock %}
<div id="content">
    {{ message }}
<br><hr>
{{ project }}
<br><hr>
<a v-bind:href="link">百度</a>
<br><hr>
<a v-bind:href="link"  v-if="user">循环</a>
<br><hr>
<ul>
    <li v-for="number in project">{{ number }}</li>
</ul>
    <a v-bind:href="link"  v-if="user">循环</a>
<br><hr>
<a v-on:click="say_holle" v-if="user">循环</a>
<br><hr>
<input v-model="message">//双向绑定
<p>{{ message }}</p>
</div>
{% endverbatim myblock %}

    <script>
        var app=new Vue({
            el: '#content',//
            data: {
                message: 'hollow word! ',
                project: [1, 2, 34, 4],
                link:"https://www.baidu.com",
                user:1,
            },
            methods:{
                say_holle:function(){
                    alert("hellow word")
                }
            }

        }
        )



    </script>












</body>
</html>