{#{% extends "buyer/base.html" %}#}
{##}
{##}
{##}
{#{% block title %}#}
{#    商品详情#}
{#{% endblock %}#}
{##}
{#{% block style %}#}
{#    <script src="/static/Buyer/js/"></script>#}
{#{% endblock %}#}
{##}
{##}
{#{% block content %}#}
{#   <div class="breadcrumb">#}
{#      <a href="#">全部分类</a>#}
{#      <span>></span>#}
{#      <a href="#">新鲜水果</a>#}
{#      <span>></span>#}
{#      <a href="#">商品详情</a>#}
{#   </div>#}
{##}
{#    {% for message in goods_list %}#}
{##}
{##}
{##}
{#            <div class="goods_detail_con clearfix">#}
{#      <div class="goods_detail_pic fl"><img src="{{ data.picture }}"></div>#}
{##}
{#      <div class="goods_detail_list fr">#}
{#         <h3>{{ data.name }}</h3>#}
{#         <p>草莓浆果柔软多汁，味美爽口，适合速冻保鲜贮藏。草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>#}
{#         <div class="prize_bar">#}
{#            <span class="show_pirze">¥<em>{{ data.name }}</em></span>#}
{#            <span class="show_unit">单  位：500g</span>#}
{#         </div>#}
{#         <div class="goods_num clearfix">#}
{#            <div class="num_name fl">数 量：</div>#}
{#            <div class="num_add fl">#}
{#               <input type="text" class="num_show fl" value="1">#}
{#               <a href="javascript:;" class="add fr">+</a>#}
{#               <a href="javascript:;" class="minus fr">-</a>#}
{#            </div>#}
{#         </div>#}
{#         <div class="total">总价：<em>16.80元</em></div>#}
{#         <div class="operate_btn">#}
{#            <a href="javascript:;" class="buy_btn">立即购买</a>#}
{#            <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>#}
{#         </div>#}
{#      </div>#}
{#   </div>#}
{##}
{##}
{#{% endfor %}#}
{##}
{##}
{#    <script>#}
{#    function  add_car(obj) {#}
{#        var  post_data={"goods_id":obj,"csrfmiddlewaretoken":"{{ csrf_token }}" }#}
{#        $.ajax(#}
{#            {#}
{#                url:"/Buyer/add_car/",#}
{#                type:"post",#}
{#                data:post_data,#}
{#                success:function (data) {#}
{#                    alert(data["data"]);#}
{##}
{#                },#}
{#                error :function (error) {#}
{#                    console.log(error)#}
{##}
{#                }#}
{##}
{#            }#}
{#        )#}
{##}
{#    }#}
{##}
{#    </script>#}
{##}
{##}
{#{% endblock %}#}


{% extends "buyer/base.html" %}

{% block title %}
    商品列表
{% endblock %}

{% block style %}
    <script src="/static/Buyer/js/jquery-1.12.4.min.js"></script>
{% endblock %}

{% block content %}
    <div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/Buyer/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/Buyer/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% if goods_list %}
                {% for goods in goods_list %}
                    <li>
                        <a href="/Buyer/goods/{{ goods.id }}/"><img src="/static/{{ goods.picture }}"></a>
                        <h4><a href="/Buyer/goods/{{ goods.id }}/">{{ goods.name }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ goods.price }}</span>
                            <span class="unit">{{ goods.price }}/500g</span>
                            <a id="{{ goods.id }}" class="add_goods" onclick="add_car(this.id)"  title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
                {% else %}
                    <p>没有更多商品了</p>
			    {% endif %}
            </ul>

			<div class="pagenation">
				<a href="#"><上一页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
		</div>
	</div>


        <script>
    function  add_car(obj) {
        var  post_data={"goods_id":obj,"csrfmiddlewaretoken": "{{ csrf_token }}"  };
        $.ajax(
            {
                url:"/Buyer/add_car/",
                type:"post",
                data:post_data,
                success:function (data) {
                    alert(data["data"]);
                    console.log(data);

                },
                error :function (error) {
                    console.log(error)

                }

            }
        )

    }

    </script>

{% endblock %}