{% extends "qshop/base.html" %}

{% block title %}
商品详情
{% endblock %}

{% block content %}
    <table class="table">
    <tr>
        <td rowspan="4"></td>
        <img src="/static/{{ goods_data.picture }}" style="width: 200px; height: 200px;">
        <td>
            <th>商品名称</th>
        <td>{{ goods_data.name }}</td>
        </td>
           <th>商品价格</th>
        <td>{{ goods_data.price }}</td>
    </tr>
           <tr>
      <th>商品数量</th>
        <td>{{ goods_data.number }}</td>
        <th>商品日期</th>
        <td>{{ goods_data.production }}</td>
           </tr>
    <tr>
        <th>保质期</th>
        <td>{{ goods_data.safe_date }}</td>
        <th>状态</th>
        <td>
            {% if goods_data.statue %}
            上架
            {% else %}
            下架
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>商品描述</th>
        <td colspan="4">
        {{ goods_data.description|safe }}
        </td>
    </tr>

    </table>
<a href="/Qshop/update_goods/{{ goods_data.id }}/" class="btn btn-primary btn-block">
修改商品信息
</a>


{% endblock %}