{{% extends "qshop/base.html" %}
{% block title %}
    添加商品
{% endblock %}
{% block content %}
    <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <p>
           <input class="form-control form-control-user" type="text" name="name" placeholder="商品名称" value="{{ goods_data.name }}">
       </p>
       <p>
           <input class="form-control form-control-user" type="number" name="price" placeholder="价格" value="{{ goods_data.price }}">
       </p>
       <p>
           <input class="form-control form-control-user" type="number" name="number" placeholder="商品数量" value="{{ goods_data.number }}">
       </p>
       <p>
           <input class="form-control form-control-user" type="text" name="production" placeholder="商品出厂日期" value="{{ goods_data.production }}">
       </p>
       <p>
           <input class="form-control form-control-user" type="text" name="safe_date" placeholder="保质期" value="{{ goods_data.safe_date }}">
       </p>
       <p>
           <textarea id="description" class="form-control form-control-user" name="description">
                {{ goods_data.description }}
           </textarea>
       </p>
       <p>
           <input class="form-control form-control-user" type="file" name="picture" placeholder="商品图片">
       </p>

       <p>
           <input class="btn btn-primary btn-block" type="submit" value="修改商品">
       </p>
    </form>

{% endblock %}
{% block script %}
    <script src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script>
    CKEDITOR.replace("description",{uiColor:"#5dd733"})
    </script>
{% endblock %}