{% extends "qshop/base.html" %}

{% block title %}
    商品列表页
{% endblock %}

{% block style %}
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vue.min.js"></script>
    <script src="/static/vue-resource.js"></script>
{% endblock %}

{% block label %}
    <a class="btn btn-warning" href="/Qshop/add_goods/">添加商品</a>
{% endblock %}

{% block content %}
    {% verbatim myblock %}
        <div class = "row" id="goods_table">
        <div class="input-group" >
            <input type="text" id="keywords" class="from-cntrol bg-light border-0 small" placeholder="商品查询" aria-label="Search" aria-describedby="basic-addon2" >
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" v-on:click="get_keywords_data()">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    <table class="table dataTable" >
        <tr>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品数量</th>
            <th>出厂日期</th>
            <th>保质期</th>
            <th>操作</th>
        </tr>
        <tr v-for="g in goods_list">
            <td><a :href="'/Qshop/goods/'+g.id+'/'"> {{ g.name }}</a></td>
            <td> {{ g.price }}</td>
            <td> {{ g.number }}</td>
            <td>{{ g.production }}</td>
            <td>{{ g.safe_date }}</td>
            <td>
                <a class="btn btn-primary" style="color: white;">下架</a>
            </td>
        </tr>
    </table>
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                <li class="paginate_button page-item" v-for="page in page_range">
                    <a class="page-link" v-on:click="get_page_data(page)">
                        {{ page }}
                    </a>

                </li>

            </ul>

        </div>
        </div>
    {% endverbatim myblock %}
{% endblock %}

{% block script %}
    <script>
        Vue.use(VueResource);
        var vue = new Vue(
            {
                el:"#goods_table",
                data: {
                    "message": "hello world",
                    "goods_list": [],
                    "page_range":[],
                    "referer":"",

                },
                created: function () {
                    this.$http.get("/Qshop/goods/").then(
                        function (data) {
                           this.goods_list=data["data"]["data"];
                            this.goods_range = data["data"]["page_range"];
                            console.log(111111);
                            console.log(this.goods_list,1111)

                        },
                        function (error) {
                            console.log(22222)
                            console.log(error)
                        }
                    )
                },
                methods: {
                    get_page_data: function (page) {
                        var url = "/Qshop/goods/?page=" + page + this.referer;
                        this.$http.get(url).then(
                            function (data) {
                                this.goods_list = data["data"]["data"];
                                this.page_range = data["data"]["page_range"];

                            },
                            function (error) {
                                console.log(error)
                            }
                        )

                    },
                    get_keywords_data: function () {
                        var keywords = $("#keywords").val();
                        var url = "/Qshop/goods/?keywords" + keywords;
                        this.$http.get(url).then(
                            function (data) {
                                this.goods_list = data["data"]["data"];
                                this.page_range = data["data"]["page_range"];
                                this.referer = data["data"]["referer"];


                            },
                            function (error) {
                                console.log(error)

                            }
                        )

                    },
                    say_hello: function (args) {
                        alert(args)

                    }

                }

                    }

        )

    </script>
{% endblock %}

